/* Sheet modal settings */
.swipe-handler:after {
    content: '';
    width: 56px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -28px;
    margin-top: -3px;
    border-radius: 3px;
    background: #666;
}

.search-devices-sheet::before{
    display: none  !important;
}

/* Buttons with bg and image */
.img_w_bg, .img_no_bg{
    margin: 10px 0; 
    background-position: center; 
    background-size: cover; 
    border-radius: 15px;
}

/* Inner elements */
.img_darker{
    background: #0704073b; 
    padding: 20px; 
    border-radius: 15px; 
    color: #fff;
}

.img_w_bg:active .img_darker{
    background: #07040760;
}

.bg_darker{
    background: #00000000;
    padding: 10px;
    border-radius: 15px;
    /* For children */
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.img_no_bg:active .bg_darker{
    background: #0704073b;
}

/* Button content */
.tt-icon{
    width: 50px; 
    height: 50px; 
    margin: 0 10px; 
    /* background: var(--f7-theme-color); */
    background: transparent;  
    margin-left: -5px;
}

.tt-icon > i{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px !important; 
}

.tt-name{
    font-size: medium;
}

.tt-title{
    font-size: var(--f7-timeline-item-title-font-size); 
    font-weight: var(--f7-timeline-item-title-font-weight);
    line-height: var(--f7-timeline-item-title-line-height);
}

.tt-subtitle{
    font-size: var(--f7-timeline-item-subtitle-font-size); 
    font-weight: var(--f7-timeline-item-subtitle-font-weight);
    line-height: var(--f7-timeline-item-subtitle-line-height);
}

.tt-content {
    margin: 2px;
    min-width: 0;
    position: relative;
    flex-shrink: 10;
}

/* Mock data for device list */
.skeleton-text div{
    /* padding: 0; */
}
.settings-modal-right-text {
    /* font-size: 12px; */
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 40px;
    white-space: pre;
}

/* Buttons with bg color style */
body.theme-dark .img_no_bg:nth-child(1) { background: #FFD000; } /* 058ED9 */
body.theme-dark .img_no_bg:nth-child(2) { background: #FFB700; } /* FF3562 */
body.theme-dark .img_no_bg:nth-child(3) { background: #FFA200; } /* 8338EC */
body.theme-dark .img_no_bg:nth-child(4) { background: #FF8800; }
body.theme-dark .img_no_bg:nth-child(5) { background: #F9722A; }
body.theme-dark .img_no_bg:nth-child(6) { background: #F56545; }

.img_no_bg:nth-child(1) { background: #AC46A1; }
.img_no_bg:nth-child(2) { background: #973AA8; }
.img_no_bg:nth-child(3) { background: #822FAF; }
.img_no_bg:nth-child(4) { background: #6D23B6; }
.img_no_bg:nth-child(5) { background: #610fa8; }
.img_no_bg:nth-child(6) { background: #560e8a; }